# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env
/.venv

# Django
local_settings.py
db.sqlite3
media/
staticfiles/

accounts/migrations
community/migrations
courses/migrations
notifications/migrations
payments/migrations
utils/migrations

# Frontend
frontend/

# VSCode
.vscode/

# Logs
*.log
